h1 {
    font-family: "helvetica";
    font-size: 250%;
    color: rgb(0, 35, 91);
    font-style: italic;

  }

  h2 {
    font-family: "helvetica";
    color: rgb(0, 35, 91);
    text-align: center;
  }

  p {
    font-family: "Verdana";
    color: rgb(0, 35, 91);
    text-align: center;
  }

  li {
    font-family: "Arial";
    color: rgb(0, 35, 91);
    text-align: center;
    
    
  }

  tr {
    font-family: "helvetica";
    color: rgb(0, 35, 91);
    text-align: center;
  }

  body{

    background-color: rgb(255, 221, 131)
  }

  img {
    float: left;
  }

  div{
    font-family: 'helvica';
    font-size: 130%;
    display: grid;
    place-items: center;
  }

  header{
    text-align: center
  }

  .center{

    color: rgb(0, 35, 91);
    font-family: 'helvetica';
    margin: auto;
    width: 50%;
    border: 3px solid wheat;
    padding: 10px;
  }


